<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.doctrStage.in"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>UDP Tool</name>

    <description>
        UDP
    </description>
    <platform name="android" />
    <platform name="ios" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    
    <gap:plugin name="cordova-plugin-networkinterface" source="npm" />
    <plugin name="com.tlantic.plugins.socket" spec="0.3.2" source="pgb" />



</widget>