<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.doctrStage.in"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>UDP Tool</name>

    <description>
        UDP
    </description>
    
    <preference name="phonegap-version" value="cli-6.0.0" />

    
    <platform name="android" />
    <platform name="ios" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    
    <gap:plugin name="cordova-plugin-networkinterface" source="npm" />
    <gap:plugin name="cordova-plugin-chrome-apps-sockets-udp" source="npm" />



</widget>